<h1>{{ name }}</h1>

<div *ngFor="let item of errorMsg" class="error-box">
  <div *ngIf="item.isDisplayed" class="alert alert-danger d-flex align-items-center alert-dismissible fade show"
    role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
      class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    <div>
      {{item.msg}}
    </div>
    <button (click)="closeErrorMsg(item)" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>


<p>
  You can edit order by click edit and simpily drag and drop to adjust them.
</p>
<div class="export-file-name-box">
  <span>Default export file name : </span>
  <span class="export-name">{{exportFileName}}</span>
  <input *ngIf="isEditExportFileName" class="form-control" type="text">
  <button id="edit-export" type="button" class="btn btn-outline-info">Edit</button>
</div>
<div class="input-box">
  <div class="control-accpet-box">
    <div class="control-title" [style]="isExcelOnly ? excelStyle : notExcelStyle">
      {{isExcelOnly ? 'Only Accept Excel File' : 'Accept Any File'}}
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]="isExcelOnly" (click)="changeAcceptedFile()">
      <!-- <label class="form-check-label" for="flexSwitchCheckChecked">
    {{isExcelOnly ? 'Only Accept Excel File' : 'Accept Any File'}}
  </label> -->
    </div>
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label">Choose your invoice File: (accept file: .xlsx .cvs .xlsm .xls) </label>
    <input #myInput (change)="onFileChange($event)" class="form-control" type="file" id="formFile" accept="{{isExcelOnly ? acceptExcelOnly : ''}}">
  </div>
  <div *ngIf="fileName !== undefined" class="file-name">
    <span>Input File Name: </span>
    {{fileName}}
  </div>
</div>

<div class="line"></div>

<h1>Add Or Edit List</h1>
<div class="btn-box">
  <!-- <button type="button" class="{{!isEdit ? 'btn btn-primary' : 'btn btn-danger'}}" (click)=editOrder()>{{!isEdit ? 'Edit' : 'Close'}}</button> -->
  <button *ngIf="!isEdit" type="button" class="btn btn-primary" (click)=editOrder()>Edit</button>
  <button (click)=editOrder() *ngIf="isEdit" type="button" class="btn-close" aria-label="Close"></button>
</div>
<br>
<div *ngIf="!isEdit" cdkDropList class="order-list">
  <div class="order-box" *ngFor="let item of invoiceKeyList; let i = index">
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    {{ i+1 }}. {{ item }}
  </div>

</div>



<div *ngIf="isEdit" cdkDropList class="edit-list" (cdkDropListDropped)="drop($event)">

  <div class="edit-box" *ngFor="let item of invoiceKeyList; let i = index" cdkDrag>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    {{ i+1 }}. {{ item }}
  </div>
  <div class="edit-box" cdkDrag>
  <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
</div>
  <input class="form-control form-control-lg" type="text">
</div>




<div id="output"></div>
<br>
<div *ngIf="willDownload">
  <a id="download"> Download JSON File </a>
</div>